        div{
            width: 50%;
            margin: auto;
            text-align: center;
        }
        img{
            width: 100%;
            padding: 20px;
            border: 1px solid red;
            border-radius: 10%;
        }
        button{
            height: 40px;
            width: 100px;
            font-size: 20px;

        }


        /* body {
            background-image: url(https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQ7hlmSt7buXmy_kJLDW438XsKxC_M8atMiAq48d27Q8QTfMLcB);
            background-size: 100% auto;
            background-repeat: no-repeat;
          ba
            
        } */