/* 
body {
  background:
 linear-gradient(rgba(0, 0, 0, 0.10), rgba(0, 0, 0, 0.10)), /* lighter */
    url(./images/bg.jpg)
      no-repeat center/cover;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Poppins", sans-serif;
  margin: 0;
}


.gallery-container {
  width: 50%;
  min-width: 360px;
}


.glass-card {
  padding: 25px;
  border-radius: 20px;
  background: rgba(0, 0, 0, 0.30);  /* dark glass */
  backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
  text-align: center;
}


.glass-card:hover {
  transform: translateY(-5px);
}


.glass-card img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.45);
}


.btn-group-custom {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 15px;
}


.btn-custom {
  width: 130px;
  padding: 10px;
  font-size: 18px;

  /* Dark frosted button */
  background: rgba(0, 0, 0, 0.45);
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: #fff;

  border-radius: 12px;
  backdrop-filter: blur(10px);
  cursor: pointer;
  transition: all 0.25s ease;
}

.btn-custom:hover {
  background: rgba(0, 0, 0, 0.65);
  transform: translateY(-3px);
}



.btn-custom:disabled {
  opacity: 0.5;
  cursor: not-allowed;
} */
